node_modules/
dist/
dist-electron/
dist-tsc/
.env
.env.*
!.env.example
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
.idea
.DS_Store
*.suo
*.ntvs*
*.class
*.exe
*.log
*.sqlite
alpha-gym.db
release/
.vscode/
scripts/publish-release.js
